$content-fontcolor: #333;
$medium-fontColor: #666;
$light-fontColor: #999;
$content-bgColor: #F1F1F1;
$content-notice-fontcolor: #777;
$search-bgcolor: #f5f5f5;
$input-color: #B7B7B7;
$bgColor: #fff;
$highlight-color: #E93B3B;
$btn-color: #0091FF;